
<div class="suggested-route-card bg-gray-200 p-2 rounded-lg">
  <div class="suggested-route-origin">
    <p class="text-sm text-gray-500">Origin</p>
    <h1 class="text-2xl"><%= origin_station %></h1>
  </div>

  <div class="suggested-route-destination">
    <p class="text-sm text-gray-500 text-right">Destination</p>
    <h1 class="text-2xl"><%= destination_station %></h1>
  </div>

</div>