

<div class="train-route-card bg-gray-200 m-2 p-2 rounded-lg">

  <div class="station_name flex items-center">
    <p class="text-3xl"><%= station_name %></p>
  </div>

  <div class="arrival_time">
    <p class="text-gray-500">Arrival Time</p>
    <p class="text-3xl"><%= arrival_time %></p>
  </div>




</div>