
<% content_for :head do %>
  <% stylesheet_link_tag "navbar", "default-style" %>
<% end %>

<% content_for :page_title do %>
  About
<% end %>

<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "about"} %>
</div>