

body {
background-color: #f4f4fb;
}

/*body * {*/
/*    border: 1px solid red;*/

/*}*/


/* Mobile Screens */
@media only screen and (max-width: 650px) {

/*body * {*/
/*    border: 1px solid red;*/
/*}*/

.card {
display: grid;
grid-template-rows: 2fr 1fr 1fr 1fr;
grid-template-columns: 2fr 1fr;
grid-template-areas:
'one two'
'three four'
'five six'
'seven eight';
position: relative;
}

.card-title {
grid-area: one;
font-size: 2.5em;
}

.card-departure-time {
grid-area: two;
}

.card-departure-time * {
text-align: right;
}

.due-in {
justify-content: flex-end;
}

.origin {
grid-area: five;
align-self: end;
}

.next-train-time {
grid-area: six;
align-self: end;
text-align: end;
}

.card-bottom-right {
grid-area: seven / seven / eight / eight;
align-self: end;
}

.train-route p {
padding: 0.75em 0;
margin-top: 0.5em;
}

.change-journey-button {
width: 100%;
}

.change-journey-button button {
margin-top: 1em;
width: 96.9%;
display: block;
}



}

/* Medium to larger screens */
@media only screen and (min-width: 650px) {

.card {
display: grid;
grid-template-rows: 3fr 1fr;
grid-template-columns: 3fr 3fr 0.6fr;
grid-template-areas:
'top-left top-middle top-right'
'bottom-left bottom-middle bottom-right';

border-radius: 1em;
position: relative;
}

.card * {
/*border: 1px solid red;*/
}

.card-title {
font-size: 2.5em;
padding-bottom: 1em;
/*background-color: red;*/
}

.card-departure-time {
/*background-color: blue;*/
/*display: grid;*/
/*grid-template-rows: 1fr 2fr;*/
/*grid-template-areas:*/
/*    'top'*/
/*    'bottom';*/

grid-area: top-right;
justify-self: end;
font-size: 2em;
}

.departing-at-text {
/*grid-area: top;*/
}



.origin {
grid-area: bottom-left;
/*background-color: red;*/
/*border: 1px solid red;*/
position: absolute;
bottom: 0;
}



.card-bottom-right {
grid-area: bottom-right;
/*position: absolute;*/
/*bottom: 0;*/
}

.train-route {
/*grid-area: bottom-right;*/
justify-self: end;
/*border: 1px solid red;*/
display: flex;
flex-direction: column;
/*width: 50%;*/
/*position: relative;*/
margin-top: 3em;
}

.train-route p {
position: absolute;
bottom: 0;
padding: 0.25em;
margin: 0.5em 0.5em 0.75em 0.5em;
}

.train-route * {
/*align-self: end;*/
/*margin-top: auto;*/
}

.next-train-time {
/*grid-area: bottom2-right;*/
/*border: 1px solid red;*/
grid-area: bottom-middle;
position: absolute;
bottom: 0;

}

.change-journey-button {
padding-top: 1em;
}
}