


body {
    background-color: #f4f4fb;
}


#station-filter-submit {
    background-color: var(--professional-green);
}

#station-filter-submit:hover {
    background-color: var(--dark-green);
}

/* Mobile Screens */
@media only screen and (max-width: 650px) {

    /*body {*/
    /*    background-color: red;*/
    /*    color: red;*/
    /*}*/

    .filters-card {
        padding: 1em 1em 2em 1em;
        margin: 0 0 2em 0;
    }

    .select-tag {
        width: 100%;
        height: 2.5em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    #station-filter-submit {
        margin-top: 1em;
        width: 100%;
        height: 3em;

    }

    .suggested-journeys > h1 {
        text-align: center;
        margin: 0 0 0.5em 0;
    }

    .suggested-route-card {
        margin: 1em 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "left right";

        padding: 1em 1em;
    }



    .suggested-route-origin {
        grid-area: left
    }

    .suggested-route-destination {
        grid-area: right;
    }

    #origin-station-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0 1em;
        background: white url(icons8-dropdown-50.png) no-repeat calc(100% - 0.5rem) center;
        background-size: 2rem auto, 100%;

        border-radius: 0.5em;
    }

    #destination-station-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0 1em;
        background: white url(icons8-dropdown-50.png) no-repeat calc(100% - 0.5rem) center;
        background-size: 2rem auto, 100%;

        border-radius: 0.5em;

    }








}


/* Medium to large screens */
@media only screen and (min-width: 650px) {

    .departure-filters-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
    }
    .filters-card {
        grid-area: left;
        /*margin: 0.5em 0.5em 0 0.5em;*/
        padding: 1em 0 1em 0;
        margin: 4.54em 0 0 0;
    }

    .filters-card-form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "top-left top-right"
        "middle-left middle-right"
        "bottom-left bottom-right";

        /*margin: 1em;*/
        margin: 1em 1em 0 1em;
    }

    .filters-card-form > *:not(input)  {
        margin-bottom: 1em;
    }

    .filters-card-form > label {
        height: 2em;
    }

    .filters-card-form > input {
        height: 3em;
        /*cursor: pointer;*/
    }



    .suggested-journeys {
        /*margin: 0.5em;*/
    }

    .suggested-journeys > h1 {
        text-align: center;
        padding-bottom: 0.5em;
    }

    .suggested-route-card {
        margin: 1em 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "top-left top-right";
        padding: 0.5em;
    }

    .suggested-route-origin {
        grid-area: top-left;
    }

    .suggested-route-destination {
        grid-area: top-right;
        justify-self: end;
    }

    /*.select-tag {*/
    /*    height: 2em;*/
    /*}*/

    /*.filter-tag {*/
    /*    margin: 1em;*/
    /*}*/


    #origin-station-label {
        grid-area: top-left;
    }

    #origin-station-select {
        grid-area: top-right;

        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0 1em;
        background: white url(icons8-dropdown-50.png) no-repeat calc(100% - 0.5rem) center;
        background-size: 2rem auto, 100%;
    }

    #destination-station-label {
        grid-area: middle-left;
    }

    #destination-station-select {
        grid-area: middle-right;

        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0 1em;
        background: white url(icons8-dropdown-50.png) no-repeat calc(100% - 0.5rem) center;
        background-size: 2rem auto, 100%;
    }

    #station-filter-submit {
        grid-area: bottom-left / bottom-left / bottom-right / bottom-right;
        margin-top: 1em;
    }



}