


.navbar-title {
    font-family: 'Lora', serif;
    /*text-decoration: underline;*/
}

/* Mobile screens */
@media only screen and (max-width: 650px) {

    .navbar {
        display: grid;
        margin: 2em 0;
    }

    .navbar-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .hamburger-button {
        justify-self: end;
        display: flex;
    }



    .navbar-items {
        background-color: white;
        padding: 1em;
        border-radius: 0.5em;
        margin-top: 2em;
    }


    .navbar-divider {
        display: none;
    }



    .dropdown-hidden .navbar-items {
        display: none;
    }
}


/* Medium to large screens */
@media only screen and (min-width: 650px) {
    .navbar {
        display: grid;
        grid-template-columns: 5fr 2fr;

        padding: 1em 1em 2em;
    }

    .navbar * {
        /*border: 1px solid red;*/
    }

    .navbar-title {
        padding: 0.5em;
    }

    .navbar-items {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center; /* Vertical navbar item centering */
        gap: 1.5rem;

    }

    .navbar-items li {
        justify-self: center; /* Horizontal navbar item centering */
    }

    .active-navbar-item {
        color: #9696ff;
    }

    .hamburger-button {
        display: none;
    }

    .footer-left {
        justify-self: start;
    }

    .footer-left img {
        margin-top: 0.5em;
        min-width: 6em;
    }

    .navbar-item-unselected {
        color: var(--professional-green)
    }

    .navbar-item-selected {
        color: var(--dark-green)
    }
}







